# iOS
*.xcuserstate
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
build/
Pods/
*.xcworkspace/xcshareddata/
!*.xcodeproj/project.xcworkspace/
.DS_Store

# Android
*.iml
.gradle/
local.properties
.idea/
*.ap_
*.class
bin/
gen/
out/
DayMakerAndroid/.gradle/
DayMakerAndroid/build/
DayMakerAndroid/app/build/
DayMakerAndroid/local.properties
DayMakerAndroid/.idea/
DayMakerAndroid/captures/
DayMakerAndroid/.externalNativeBuild/
DayMakerAndroid/.cxx/
*.keystore
!debug.keystore

# General
.env
*.log
.claude/
